
<p>Edit the books that the author {{data.name}} has assigned</p>

<form (ngSubmit)="onSubmit()" #formControl="ngForm">

  <div style="">
    <div class="leftBooksSection">
      <mat-selection-list #leftList [multiple]="true">
        <mat-list-option *ngFor="let book of leftBooks" [value]="book">{{ book.title }}</mat-list-option>
      </mat-selection-list>
    </div>

    <div class="rightBooksSection">
      <mat-selection-list #rightList [multiple]="true">
        <mat-list-option *ngFor="let book of assignedBooks" [value]="book">{{ book.title }}</mat-list-option>
      </mat-selection-list>
    </div>
  </div>

  <div class="divButtonsSection">
    <button mat-raised-button color="primary" (click)="moveToRight()">>></button>
    <button mat-raised-button color="primary" (click)="moveToLeft()"><<</button>

    <div mat-dialog-actions>
      <button mat-button type="submit" [disabled]="!formControl.valid" (click)="confirmAssignBooks(data.id)">Assign</button>
      <button mat-button tabindex="-1" mat-dialog-close>Cancel</button>
    </div>
  </div>
</form>
