<h1>Books grid</h1>
<!-- <input matInput (keyup)="filter($event)" placeholder="find" /> -->
  <app-filter (filterChange)="applyServerSideFilter($event)"></app-filter>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    #mytable
    matSort matSortActive="title" matSortDisableClear matSortDirection="asc"
  >
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="onSortOnHeader('title')">Title</th>
      <td mat-cell *matCellDef="let b">{{ b.title }}</td>
    </ng-container>

    <ng-container matColumnDef="releaseYear">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="onSortOnHeader('releaseYear')">ReleaseYear</th>
      <td mat-cell *matCellDef="let b">{{ b.releaseYear }}</td>
    </ng-container>

    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="onSortOnHeader('genre')">Genre</th>
      <td mat-cell *matCellDef="let b">{{ b.genre }}</td>
    </ng-container>

    <ng-container matColumnDef="numberOfPages">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="onSortOnHeader('numberOfPages')">NumberOfPages</th>
      <td mat-cell *matCellDef="let b">{{ b.numberOfPages }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="onSortOnHeader('status')">Status</th>
      <td mat-cell *matCellDef="let b">{{ b.status }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button matTooltip="Add New" class="iconbutton"
           (click)="addNew()">
          <mat-icon color="primary">add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
           (click)="startEdit(i, row.ID, row.title, row.publisher, row.status, row.numberOfPages, row.numberOfCopies)">
          <mat-icon matTooltip="Edit" class="purpleStyle">edit</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
          (click)="startDelete(row.ID)">
          <mat-icon matTooltip="Delete" class="redStyle">delete</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Click to Borrow" class="iconbutton"
            (click)="startBorrow(row.ID)">
            <mat-icon matTooltip="Borrow" class="darkBlueStyle">send</mat-icon>
        </button>
      </td>
    </ng-container>

  </table>

<mat-paginator [length]="100" #paginator
  [length]="totalItems"
  [pageSize] = "pageSize"
  [pageIndex]="pageIndex - 1"
  [pageSizeOptions]="[10, 25, 30]"
  showFirstLastButtons
  aria-label="Select page"
  (page)="onPageChanged($event)"
></mat-paginator>
